<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav">
    <li [ngbNavItem]="1">
      <a ngbNavLink style="cursor: none">Recipe Book</a>
    </li>
    <li [ngbNavItem]="2" routerLinkActive="active">
      <a ngbNavLink routerLink="/recipes">Recipes</a>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="/shopping-list">Shopping List</a>
    </li>
    <div class="col text-right">
      <li ngbDropdown class="nav-item d-inline-block">
        <a href (click)="(false)" class="nav-link" ngbDropdownToggle>Manage</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Save Data</button>
          <button ngbDropdownItem>Fetch Data</button>
        </div>
      </li>
    </div>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-3"></div>
</div>
